*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main_container{
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  width: 100vw;
}

.main_container_signup{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  width: 100vw;
  background: linear-gradient(rgba(123, 117, 117, 0.5), rgba(94, 87, 87, 0.5)), url(./assets/signup-page.jpg);
  background-size: cover;
}



.left_container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header_text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.right_container{
  width: 50%;
}

.login_image{
  height: 100vh;
  width: 50vw;
}

.login_image img{
  height: calc(100% - 4px);
  width: 100%;
}

.login_container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  gap: 3rem;
  width: 450px;
  margin-left: 4rem;
}

.check_password{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

input{
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: large;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #d430b4;
  transition: all 0.3s;
}

input:hover{
  border: 2px solid #d430b4;
}

input[type=checkbox] {
  accent-color: #d430b4;
}

button{
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
  width: 200px;
  background-color: #d430b4 !important;
  cursor: pointer;
}

.button_container{
  display: flex;
  justify-content: space-between;
}

.login_extra{
  text-align: center;
}

.login_extra p{
  color: black;
}

.login_text p{
  color: #d430b4;
}

.login_text{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}


.signup_container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  width: 500px;
}

.button_container_signup{
  display: flex;
  width: 500px;
  justify-content: space-between;
}

 a{
  text-decoration: none;
}

@media only screen and (max-width: 1050px){
  .login_container{
    margin: 0;
  }
}

@media only screen and (min-width: 1550px){
  .login_container{
    width: 600px;
  }
  .button_container{
    justify-content: space-around;
  }
}

@media only screen and (max-width: 900px){
  html{
    font-size: 12px;
  }
    .right_container{
      display: none;
    }
    .left_container{
      width: 90%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0rem;
    }
    .main_container{
       justify-content: center;
       align-items: center;
    }
    .header_text{
      width: 300px;
    }

    .login_container{
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .button_container button{
      width: 140px !important;
      font-size: 12px;

    }
    .button_container{
      gap: 2rem;
    }

    .checkbox p{
      font-size: medium;
    }


    .login_container input[type="email"], input[type="password"]{
      width: 300px;
    }

    .check_password{
      width: 300px;
    }

    .check_password p{
      font-size: small;
      font-weight: bold;
    }

    .login_extra p{
      font-size: medium;
    }
    .signup_container{
      justify-content: center;
      width: 300px;
    }
    .button_container_signup{
       width: 300px;
    }

    .button_container_signup button{
      width: 140px;
      font-size: 13px;
    }
}